{{#> layout}}
  {{#*inline "title"}}Login{{/inline}}
  {{#*inline "content"}}
    <h1 class="ui header">Forbidden</h1>

    <div class="ui error message">The service {{service}} is not allowed here.</div>
  {{/inline}}
  {{#*inline "script"}}
  {{/inline}}
{{/layout}}
