{{#> layout}}
  {{#*inline "title"}}Logout{{/inline}}
  {{#*inline "content"}}
    <h1 class="ui header">Logout</h1>

    <div class="ui info message">You were logged out successfully</div>

    <a class="ui fluid large primary button" href="/login">Log back in again</a>
  {{/inline}}
  {{#*inline "script"}}{{/inline}}
{{/layout}}
