{{#> layout}}
  {{#*inline "title"}}Two-Factor Authentication{{/inline}}
  {{#*inline "content"}}
    <h1 class="ui header">Two-Factor Authentication</h1>

    <form id="mfa" class="ui form {{#if error}}error{{/if}}" method="POST">
      <input type="hidden" name="flow" value="{{flow}}">
      <input type="hidden" name="token" value="{{token}}">

      <div class="ui large stacked segment">
        {{#if service}}
          <div class="ui info message">You are logging in for {{service}}</div>
        {{/if}}
        {{#if error.exception}}
          <div class="ui error message">An internal error occured. Please try again later!</div>
        {{/if}}
        {{#if error.failed}}
          <div class="ui error message">The code is incorrect.</div>
        {{/if}}

        <div class="field" style="text-align: left">
          <label for="code">Code</label>
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input name="code" type="text" value="{{request.params.code}}" autocomplete="off">
          </div>
        </div>

        <button class="ui fluid large primary button" type="submit">Login</button>
      </div>
    </form>
  {{/inline}}
  {{#*inline "script"}}
    <script type="text/javascript">
      var $form = document.querySelector('#mfa');
      $form.onsubmit = function() {
        var $button = this.querySelector('button');
        $button.disabled = true;
        $button.classList.add('loading');
      };
      $form.elements['code'].focus();
    </script>
  {{/inline}}
{{/layout}}